/* 
    Created on : Jan 2, 2016, 11:51:30 PM
    Author     : Rajan Gunasekaran
*/

.capthcha-wraper {
  border: 2px solid #000;
  height: 45px;
  width: 125px;
}
.captcha-container {
  background:#000;
  width:100px;
  height:45px;
  float:left;
}
.captcha-until-wrap {
  width:22px;
  height:45px;
  float: left;
  border-left: 2px solid #000;
}
.captcha-until-wrap> div{
  min-width:22px;
  min-height:18px;
  padding: 2px;
  margin-left: 4px;
  background-repeat:no-repeat;
}
.captcha-speakar {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABG0lEQVQ4T6XTvyvGURTH8RcGCklJFoNBWUWZ2fzMRilPRCmTmC1+lEWZSJSSmKRYbf4A/gILEYPZoHTqPvX1zfN8lTuee877fM7n3Fvjn6fmn/WKAB14zTWpx2c5VglQh2VsoCUDiPhlunuK+G+AAeyjNxWWc0q4wxd2MJUFdKEBK1jIgRvRjRecYAKbuMB90MdwXcXMZpxiDYP4wCNGAhSAaZxXAUROD+awi3Ws4hCzfwWE80eYT2PEmAcoBWAUNwUKxhE+3SbFVxgujxC1nYguYeISajPAMPcYi9hOCmZwhoff1tiX5PXn1jiESewl0I815icIBaFkC63psimtOjqHF8+VHlIW1o63TCAUt+G96Cn/+Y8VfaZC0DfKMCwR9k4yXgAAAABJRU5ErkJggg==);
  cursor: pointer;

}
.captcha-refresh {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABKElEQVQ4T6XTQSttURjG8d8xkTBUYiolZuQo3fsJpEhRhoYykLjXF0ApYaCYKhNJ4hu46RZGTBRDmZgxuAPl9mrt2k775GCN9n73ev/Ps/b7rJJvrlJBfztmMIQO1OEWJ9jAEV4wEL2VgElso7GKsWc0pW9vvXlANO+m2gHWcZE292M+ucrY7wBh+yYpz2GtwkGAeitq7wAr+IVQHiuw/xflXP0Mg/kjXKMbP/DnM4PJ/sE/1KMB8Vzz+irgMo2ynAGu0IOfOP1Avg/neERLBljGbxxi9ANABGkYW5jOAG1pjBGSBaxWgSxiCU/own0+SBPYS0EKlchCzP8VYXsWI+l9HPtFUQ7IDpqrOAjlqay5CBC11txl6kygOxxjEw95eNFtrDkDsfE/ZEs1ESf4clEAAAAASUVORK5CYII=);
  cursor: pointer;
}

.bg1 {
  background-color: #6d695c;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}
.bg2 {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}
.bg3 {
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}
.bg4 {
  background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
.bg5 {
  background-color: gray;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px 50px;
}
.bg6 {
  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}
.bg7 {
  background-color: hsl(2, 57%, 40%);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}
.bg8 {
  background:
  linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
  linear-gradient(63deg, transparent 74%, #999 78%),
  linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
  #444;
  background-size: 16px 48px;
}
.bg9 {
  background:
  linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#708090;
  background-size: 64px 128px;
}